doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")

  body
    header.navbar.navbar-static-top#top
      .container
        .navbar-header
          a.navbar-bland(href='/') pagewriter
        nav.collapse.navbar-collapse(role='navigation')
          ul.nav.navbar-nav
            li: a(href=page.editUrl) edit
    .container
      block content