body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#top {
  border-bottom: 1px solid #999999;
}

#contents-editor {
  width: 100%;
  height: 600px;
}

#contents .body-text {
  width: 33em;
}

#contents #line-number-box {
  float: left;
  width: 1em;
}

#contents #line-number-box,
#contents #text,
#contents .horizontal-number,
#contents p {
  line-height: 22px;
}

#contents #line-number-box {
}

#contents #text,
#contents .horizontal-number {
  margin-left: 40px;
}

#contents p {
  margin: 0;
}

#contents .horizontal-number {
  margin-bottom: 20px;
}

#contents table {
  border-collapse: separate;
  border-spacing: 4px;
}

#contents tr.chapter {
  font-weight: bold;
  font-size: 120%;
}

#contents tr.chapter td{
  height: 3em;
}