body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#top {
  border-bottom: 1px solid #999999;
}

#contents-editor {
  width: 100%;
  height: 600px;
}

#contents .body-text {
  width: 33em;
}

#contents #line-number-box {
  float: left;
  width: 1em;
}

#contents #text {
  margin-left: 20px;
}

#contents .horizontal-number {
  margin-left: 20px;
}

#contents p {
  margin: 0;
}