// for plaintext formatter
extends ../index

block contentsBody
  div#contents
    p.horizontal-number １２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３
    div#line-number-box
      - var n = 1
      while n < 100
        div.line-number= n++
    div#text!= contents
