// for plaintext formatter
extends ../index

block contentsBody
  div#contents
    div#line-number-box
      div.line-number 1
      div.line-number 2
      div.line-number 3
      div.line-number 4
      div.line-number 5
      div.line-number 6
      div.line-number 7
      div.line-number 8
      div.line-number 9
      div.line-number 10
      div.line-number 1
      div.line-number 2
      div.line-number 3
      div.line-number 4
      div.line-number 5
      div.line-number 6
      div.line-number 7
      div.line-number 8
      div.line-number 9
      div.line-number 10
      div.line-number 1
      div.line-number 2
      div.line-number 3
      div.line-number 4
      div.line-number 5
      div.line-number 6
      div.line-number 7
      div.line-number 8
      div.line-number 9
      div.line-number 10
    p.horizontal-number １２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３
    div#text!= contents
